<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <style>
    #editor {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
  </style>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
    }
  </style>
  <div id="editor"></div>
</body>

</html>
